<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Cửa hàng gia dụng</title>
    <link rel="shortcut icon" type="image/x-icon" href="/Assets/home/assets/images/favicon.png" />
    <link rel="stylesheet" href="/Assets/home/assets/css/animate.css" />
    <link rel="stylesheet" href="/Assets/home/assets/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" />
    <link rel="stylesheet" href="/Assets/home/assets/css/all.min.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/ionicons.min.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/linearicons.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/flaticon.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/simple-line-icons.css" />
    <link rel="stylesheet" href="/Assets/home/assets/owlcarousel/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/Assets/home/assets/owlcarousel/css/owl.theme.css" />
    <link rel="stylesheet" href="/Assets/home/assets/owlcarousel/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/magnific-popup.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/jquery-ui.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/slick.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/slick-theme.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/style.css" />
    <link rel="stylesheet" href="/Assets/home/assets/css/responsive.css" />
</head>
<body>

    @RenderBody()
    <footer class="footer_dark">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-12">
                        <div class="widget">
                            <div class="footer_logo">
                                <a href="#" class="btn btn-outline-light">Cửa hàng gia dụng</a>
                            </div>
                            <p>Cửa hàng bán đồ gia dụng</p>
                        </div>
                        <div class="widget">
                            <ul class="social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-youtube-outline"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Useful Links</h6>
                            <ul class="widget_links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="#">Location</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-6">

                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">My Account</h6>
                            <ul class="widget_links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Discount</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Orders History</a></li>
                                <li><a href="#">Order Tracking</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="widget">
                            <h6 class="widget_title">Contact Info</h6>
                            <ul class="contact_info contact_info_light">
                                <li>
                                    <i class="ti-location-pin"></i>
                                    <p></p>
                                </li>
                                <li>
                                    <i class="ti-email"></i>
                                    <a href="mailto:shoponline@gmail.com">shoponline@gmail.com</a>
                                </li>
                                <li>
                                    <i class="ti-mobile"></i>
                                    <p>+123456789</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bottom_footer border-top-tran">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p class="mb-md-0 text-center text-md-left">Copyright © 2020 All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="footer_payment text-center text-lg-right">
                            <li><a href="#"><img src="/Assets/home/assets/images/visa.png" alt="visa"></a></li>
                            <li><a href="#"><img src="/Assets/home/assets/images/discover.png" alt="discover"></a></li>
                            <li><a href="#"><img src="/Assets/home/assets/images/master_card.png" alt="master_card"></a></li>
                            <li><a href="#"><img src="/Assets/home/assets/images/paypal.png" alt="paypal"></a></li>
                            <li><a href="#"><img src="/Assets/home/assets/images/amarican_express.png" alt="amarican_express"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>
    <script src="/Assets/home/assets/js/jquery-1.12.4.min.js"></script>
    <script src="/Assets/home/assets/js/jquery-ui.js"></script>
    <script src="/Assets/home/assets/js/popper.min.js"></script>
    <script src="/Assets/home/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Assets/home/assets/owlcarousel/js/owl.carousel.min.js"></script>
    <script src="/Assets/home/assets/js/magnific-popup.min.js"></script>
    <script src="/Assets/home/assets/js/waypoints.min.js"></script>
    <script src="/Assets/home/assets/js/parallax.js"></script>
    <script src="/Assets/home/assets/js/jquery.countdown.min.js"></script>
    <script src="/Assets/home/assets/js/hoverparallax.min.js"></script>
    <script src="/Assets/home/assets/js/jquery.countTo.js"></script>
    <script src="/Assets/home/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/Assets/home/assets/js/isotope.min.js"></script>
    <script src="/Assets/home/assets/js/jquery.appear.js"></script>
    <script src="/Assets/home/assets/js/jquery.parallax-scroll.js"></script>
    <script src="/Assets/home/assets/js/jquery.dd.min.js"></script>
    <script src="/Assets/home/assets/js/slick.min.js"></script>
    <script src="/Assets/home/assets/js/jquery.elevatezoom.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7TypZFTl4Z3gVtikNOdGSfNTpnmq-ahQ&amp;callback=initMap"></script>
    <script src="/Assets/home/assets/js/scripts.js"></script>
</body>
</html>